.logo img {
    width: 165px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right ul {
    display: flex;
    gap: 34px;
    cursor: pointer;
}

.right ul span:hover {
    color: rgb(119, 188, 188);
    background-color: rgb(251, 251, 251);
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 23px;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
    padding: 0 5px;

}

section span img {
    width: 90px;
    margin: 0 23px;
}

.first p {
    font-size: 24px;
    text-align: center;
    width: 64vw;
    font-family: "Segoe UI";
}




.btn {
    background-color: #00b6d1;
    padding: 14px 18px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}


.flex {
    display: flex;
}

section div .small {
    font-size: 12px;
}

.second {
    max-width: 70vw;
    margin: auto;
}

.green {
    background-color: #5cb85c;
}

.item {
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download :nth-child(2) {
    font-size: 23px;
}

.download {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;

}

.download img {
    padding: 0 12px;
}

@media screen and (max-width:700px) {

    .grid {

        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .btn {
        background-color: #00b6d1;
        padding: 14px 18px;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: 700;
        margin: 12px;
    }
}

.btn a {
    text-decoration: none;
    color: white;
}